@page
@using ServiceReference1
@using wcf_assignment3_interface
@model ShowModel
@{
    ViewData["Title"] = "Display flowers";
}
<p><a class="navbar-brand" asp-area="" asp-page="/Add">Add Flower</a></p>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Colour</td>
            <td>Price</td>
            <td>Species</td>
            <td>Stock</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (FlowerDetails flower in Singleton.Flowers)
        {
            <tr>
                <td>@flower.Name</td>
                <td>@flower.Colour</td>
                <td>@flower.Price</td>
                <td>@flower.Species</td>
                <td>@flower.Stock</td>
                <td>
                    <a class="navbar-brand" asp-area="" asp-page="/Get" asp-route-selection="@flower.FlowerId" >Show Flower</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
